<%- include("header"); -%> 
    <div class="box" id="heading">
        <h1> <%= pageTitle %></h1>
    </div>
    <div class="box">
        <% listItems.forEach(item => { %>
            <div class="item">
                <form action="/delete" method="post">
                    <input type="checkbox" name="checkboxid" value="<%=item._id%>" onchange="this.form.submit()">
                    <p><%=item.name%> </p>
                    <input type="hidden" name="pageTitle" value="<%=pageTitle%>">
                </form>
            </div> 
        <% }) %>

        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="New Item" autofocus autocomplete="off" spellcheck="false">
            <button type="submit" name="list" value="<%=pageTitle%>">+</button>
        </form>
    </div>
    <button type="submit"><a href="http://localhost:3000/work">-></a></button>
<%- include("footer"); -%> 